a {
  cursor: pointer;
}

.app-container {
  min-height: 320px;
}

.admin-nav {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e8e9ea;
  border-bottom: 1px solid #ccc;
}
.larger {
  font-size: 1.6rem;
}

.feature li {
  margin-bottom: 1rem;
}

body {
  background-color: #f8f9fa;
}
